* {
  font-family: 'Sansita Swashed', cursive;
}

body {
  background-color: rgb(219, 57, 90);
}

h1 {
  color: white;
  font-size: 42px;
  text-align: center;
}

.faq-container {
  background-color: rgb(255, 241, 241);
  width: 500px;
  box-shadow: 0 0 8px 5px rgb(136, 70, 70);
  color: white;
  margin: 0 auto;
  padding: 1rem 0.5rem;
}

.single-question {
  position: relative;
  background-color: rgb(44, 197, 197);
  padding: 1px 0.5rem;
  margin: 1rem 0.5rem;
  box-shadow: 0 0 6px 3px rgb(0, 71, 71);
}

.info-btn {
  position: absolute;
  background: none;
  border: none;
  color: rgb(155, 26, 26);
  font-size: 28px;
  top: 0.7rem;
  right: 0.5rem;
  cursor: pointer;
}

.info-text {
  text-align: right;
}
